:root {
    --main-color: #d33753;
    --light-color: #fafafa;
    --padding-lg: 5rem;
    --padding-md: 3rem;
    --padding-sm: 1.5rem;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.underlined {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.65);
}

.bs-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bs-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

/* slider */
.slider {
    width: 900px;
    max-width: 90vw;
    height: 500px;
    margin: auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 900px;
    max-width: 90vw;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

.bs-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-top: 2rem;
}

.bs-main-title {
    font-size: 34px;
    font-weight: 600;
}

.bs-grey {
    color: gray;
}

.bs-cost {
    font-size: 20px;
    font-weight: 600;
}

.bs-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.bs-title {
    font-size: 22px;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .bs-container {
        width: 100%;
    }
    .slider {
        width: 600px;
        height: 400px;
        max-width: 100vw;
    }
    .slider .list img {
        width: 600px;
        max-width: 100vw;
    }
}

@media (max-width: 465px) {
    .bs-details, .bs-description {
        padding: 5px;
        margin-top: 1rem;
    }
    .bs-main-title {
        font-size: 28px;
        font-weight: 600;
    }
    .bs-cost {
        font-size: 18px;
        font-weight: 600;
    }
}